@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Hind Siliguri', sans-serif;
}

.owl-carousel_normal .owl-video-tn {
background-size: cover;
padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
}

.owl-video-frame {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.owl-video-frame iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.owl-dots {
text-align: center;
margin-top: 20px;
}

.owl-dot {
display: inline-block;
}

.owl-dot span {
width: 11px;
height: 11px;
background-color: #ccc;
border-radius: 50%;
display: block;
margin: 5px 3px;
}

.owl-dot.active span {
background-color: #000;
}
.check_image{    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1.2em !important;
    width: 1.2em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;}
.list_text{    width: calc(100% - 40px);}

.owl-carousel_normal .owl-nav .owl-next, .owl-carousel_normal .owl-nav .owl-prev{
    position: absolute;
    top: 0;
    background: rgb(0, 0, 0, .2);
    height: calc(100% - 50px);
    width: 11%;
    color: white;
    padding-top: 21%;
    text-align: center;

}
.owl-carousel_normal .owl-nav .owl-next svg, .owl-carousel_normal .owl-nav .owl-prev svg{width: 120px;}
.owl-carousel_normal .owl-nav .owl-next svg{animation: 1.5s infinite moving_right}
.owl-carousel_normal .owl-nav .owl-prev svg{animation: 1.5s infinite moving_left}


.product_variations:checked ~span{outline-color: #047857;    outline-offset: 2px;    outline-width: 2px;outline-style: solid;}
.product_variations[checked] ~span{outline-color: #047857;    outline-offset: 2px;    outline-width: 2px;outline-style: solid;}

@keyframes moving_right {
    0% {
        padding-right: 15px;
    }
    50% {
        padding-left: 15px;
        padding-right: 0;
        opacity: 1;
    }
    100% {
        padding-left: 0;
        padding-right: 15px;
        opacity: 0;
    }
}
@keyframes moving_left {
    0% {
        padding-left: 15px;
    }
    50% {
        padding-right: 15px;
        padding-left: 0;
        opacity: 1;
    }
    100% {
        padding-right: 0;
        padding-left: 15px;
        opacity: 0;
    }
}

.owl-carousel_custom .owl-nav .owl-next{
    position: absolute;
    right: 0;
    top: 45%;
}

.owl-carousel_custom .owl-nav .owl-prev{
    position: absolute;
    left: 0;
    top: 45%;
}

.owl-carousel_normal .owl-nav .owl-next{
    right: 0;}
.owl-carousel_normal .owl-nav .owl-prev{left: 0;}
/* Extra Small Device */
@media (max-width: 767px) {
    .owl-carousel_normal .owl-nav .owl-next svg, .owl-carousel_normal .owl-nav .owl-prev svg {
        width: 40px;
    }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg_black{
    background: #000;
}
.bg_red{
    background: #EA2027;
}
.bg_green{
    background:  #019e33;
}
.bg_D8D8D8{
    background:  #D8D8D8;
}
.scale_y__1{
    --tw-scale-y: -1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale_x__1{
    --tw-scale-x: -1;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
