@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: "Josefin Sans", sans-serif;
}

.top_search_hidden{display: none;}
.mobile_menu_hidden{display: none;}
.page_loader_hidden{display: none;}

.product_code{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    display: inline-block;
    line-height: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-group:hover .button-group-hover\:-top-\[30px\] {
    top: -30px;
}
.button-group:hover .button-group-hover\:top-\[-25px\] {
    top: -25px;
}

.font-shadow {
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Product Variation */
.sp_variation_all{}
.sp_variation_all li{display: inline-block;
    float: left;}
.sp_variation_all li input{    left: -9999px;
    position: absolute;}
.sp_variation_all li input:checked ~label{border-color: var(--primary_color);color:  var(--primary_color);}
.sp_variation_all li label{width: auto;
    float: left;
    margin-right: 0.375rem;
    display: block;
    color: #818a91;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: scale(0.95);
    padding: 7px 10px;}
.sp_variation_all li label:hover{cursor: pointer;
        border-color: var(--secondary_hover_color);}

.sp_variation_color{}
.sp_variation_color li{}
.sp_variation_color li input{left: -9999px;
    position: absolute;}
.sp_variation_color li label{    width: 2.25rem;
    height: 2.25rem;
    float: left;
    padding: 0.375rem;
    margin-right: 0.375rem;
    display: block;
    font-size: 0.875rem;
    text-align: center;
    opacity: 0.7;
    border: 2px solid #d3d3d3;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;font-family: "Font Awesome 5 Free";
    transform: scale(0.95);}
.sp_variation_color li input:checked ~label{border-color: var(--primary_color);}
.sp_variation_color li input:checked ~label:after{position: absolute;
    top: 50%;font-family: "Font Awesome 5 Free";
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.7);content: "\f07a";
    font-size: 14px;}
.sp_variation_color li label:hover{cursor: pointer;
        border-color: var(--secondary_hover_color);}
.sp_variation_color li label i{color:#fff;display: none;}
.sp_variation_color li input:checked ~label i{color:#fff;display: inline-block;}
/* End Product Variation */
