@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    font-family: "Josefin Sans", sans-serif;
}

.top_search_hidden{display: none;}
.mobile_menu_hidden{display: none;}
.page_loader_hidden{display: none;}

.product_code{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
    display: inline-block;
    line-height: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-group:hover .button-group-hover\:-top-\[30px\] {
    top: -30px;
}
.button-group:hover .button-group-hover\:top-\[-25px\] {
    top: -25px;
}

.font-shadow {
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.3);
}
